@mixin media($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}
.skill_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 150px;
  @include media(1150px) {
    flex-direction: column;
  }
  .skill__form__wrapper.shaking {
    animation: shake 0.5s ease-in-out !important;
  }
  .skill__form__wrapper {
    background-color: #434040;
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    height: 330px;
    @include media(1150px) {
      width: 100%;
    }
    h1 {
      font-family: "Poppins", sans-serif;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 15px;
      @include media(500px){
        font-size: 20px;
      }
      img {
        width: 45px;
        filter: invert(1);
      }
      span {
        color: #14ff0c;
      }
    }
    .skill_form {
      .skill_form_group {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        label {
          font-family: "Poppins", sans-serif;
          font-size: 20px;
          color: #fff;
        }
        input {
          width: 100%;
          padding: 10px;
          border: none;
          border-bottom: 2px solid #fff;
          outline: none;
          background: #434040;
          color: #fff;
          &:focus {
            border-bottom: 2px solid #14ff0c;
          }
          &::placeholder {
            color: #fff;
            font-family: "Poppins", sans-serif;
          }
        }
        .skill_percent {
          display: flex;
          align-items: center;
          gap: 20px;
        }
        output {
          font-family: "Poppins", sans-serif;
          color: #14ff0c;
        }
      }
      .skill_btn {
        margin-top: 15px;
        cursor: pointer;
        --green: #1bfd9c;
        font-size: 15px;
        padding: 0.7em 2.7em;
        letter-spacing: 0.06em;
        position: relative;
        font-family: inherit;
        border-radius: 0.6em;
        overflow: hidden;
        transition: all 0.3s;
        line-height: 1.4em;
        border: 2px solid var(--green);
        background: linear-gradient(
          to right,
          rgba(27, 253, 156, 0.1) 1%,
          transparent 40%,
          transparent 60%,
          rgba(27, 253, 156, 0.1) 100%
        );
        color: var(--green);
        box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
          0 0 9px 3px rgba(27, 253, 156, 0.1);
        &:hover {
          color: #82ffc9;
          box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
            0 0 9px 3px rgba(27, 253, 156, 0.2);
        }
        &::before {
          content: "";
          position: absolute;
          left: -4em;
          width: 4em;
          height: 100%;
          top: 0;
          transition: transform 0.4s ease-in-out;
          background: linear-gradient(
            to right,
            transparent 1%,
            rgba(27, 253, 156, 0.1) 40%,
            rgba(27, 253, 156, 0.1) 60%,
            transparent 100%
          );
        }
        &:hover::before {
          transform: translateX(45em);
        }
      }
    }
  }
  .skill_list {
    background-color: #434040;
    width: 50%;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    margin-bottom: 50px;
    height: 600px;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
    @include media(1150px) {
      width: 100%;
    }
    .list_col{
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow-y: scroll;
        padding: 15px;
        margin-bottom: 50px;
        &::-webkit-scrollbar{
          display: none;
        }
    }
    .list__title {
      background: #706e6e;
      text-align: center;
      padding: 10px 0;
      border-radius: 5px;
      margin-bottom: 15px;
      h1 {
        color: #fff;
        font-family: "Poppins", sans-serif;
        @include media(500px){
          font-size: 20px;
        }
        span {
          color: #14ff0c;
        }
      }
    }
    .container_list {
      background-color: #5b5959;
      padding: 15px;
      border-radius: 10px;
      position: relative;
      .order {
        position: absolute;
        background: #8f9191;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -10px;
        left: -10px;
        color: #14ff0c;
        font-family: cursive;
        font-weight: bold;
      }
      .skill_list_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info_percent {
          font-family: "Poppins", sans-serif;
          color: #eee;
          font-weight: bold;
          span {
            color: #14ff0c;
            font-weight: bold;
            margin-right: 10px;
          }
        }
      }
      .skill_action_btns {
        display: flex;
        gap: 10px;
        button {
          margin-top: 15px;
          cursor: pointer;
          --green: #1bfd9c;
          font-size: 15px;
          padding: 5px;
          letter-spacing: 0.06em;
          position: relative;
          font-family: inherit;
          border-radius: 0.6em;
          overflow: hidden;
          transition: all 0.3s;
          line-height: 1.4em;
          border: 2px solid var(--green);
          background: linear-gradient(
            to right,
            rgba(27, 253, 156, 0.1) 1%,
            transparent 40%,
            transparent 60%,
            rgba(27, 253, 156, 0.1) 100%
          );
          color: var(--green);
          box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
            0 0 9px 3px rgba(27, 253, 156, 0.1);
          img {
            width: 20px;
            height: 20px;
            display: flex;
          }
          &:hover {
            color: #82ffc9;
            box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
              0 0 9px 3px rgba(27, 253, 156, 0.2);
          }
          &::before {
            content: "";
            position: absolute;
            left: -4em;
            width: 4em;
            height: 100%;
            top: 0;
            transition: transform 0.4s ease-in-out;
            background: linear-gradient(
              to right,
              transparent 1%,
              rgba(27, 253, 156, 0.1) 40%,
              rgba(27, 253, 156, 0.1) 60%,
              transparent 100%
            );
          }
          &:hover::before {
            transform: translateX(45em);
          }
        }
      }
      @keyframes load {
        from {
          width: 0%;
        }
      }
      @-webkit-keyframes load {
        from {
          width: 0%;
        }
      }
      @-moz-keyframes load {
        from {
          width: 0%;
        }
      }
      @-o-keyframes load {
        from {
          width: 0%;
        }
      }

      .bar {
        background-color: #eee;
        padding: 2px;
        border-radius: 15px;
        margin-bottom: 5px;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      }
      .learning {
        height: 25px;
        background-color: #16e020;
        display: inline-block;
        padding: 5px;
        border-radius: inherit;
        animation: load 2s 0s;
        -webkit-animation: load 2s 0s;
        -moz-animation: load 2s 0s;
        -o-animation: load 2s 0s;
        font-family: "Poppins", sans-serif;
      }

      .bar.front::before {
        background-color: #ffcc33;
      }
      .bar.back::before {
        background-color: #a6cfe3;
      }
      .bar {
        width: 100% !important;
      }
      .bar.learning {
        width: calc(10% - 0px);
      }
    }
    .pagination {
        
      padding: 10px;
      width: 210px;
      background: #706e6e;
      right: 0;
      border-radius: 5px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      gap: 10px;
      span{
        color: #eee;
      }
      button {
        padding: 5px;
        cursor: pointer;
        --green: #1bfd9c;
        font-size: 15px;
        letter-spacing: 0.06em;
        position: relative;
        font-family: inherit;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.3s;
        line-height: 1.4em;
        border: 2px solid var(--green);
        background: linear-gradient(
          to right,
          rgba(27, 253, 156, 0.1) 1%,
          transparent 40%,
          transparent 60%,
          rgba(27, 253, 156, 0.1) 100%
        );
        color: var(--green);
        box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
          0 0 9px 3px rgba(27, 253, 156, 0.1);
        &:hover {
          color: #82ffc9;
          box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
            0 0 9px 3px rgba(27, 253, 156, 0.2);
        }
        &::before {
          content: "";
          position: absolute;
          left: -4em;
          width: 4em;
          height: 100%;
          top: 0;
          transition: transform 0.4s ease-in-out;
          background: linear-gradient(
            to right,
            transparent 1%,
            rgba(27, 253, 156, 0.1) 40%,
            rgba(27, 253, 156, 0.1) 60%,
            transparent 100%
          );
        }
        &:hover::before {
          transform: translateX(45em);
        }
      }
    }
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

