@mixin media($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}
.resume {
  margin-top: 100px;
  &__wrapper {
    background: rgba(0, 0, 0, 0.9);
    padding: 15px 18px;
    border-radius: 5px;
    .top_heading {
      display: flex;
      align-items: center;
      margin-top: 10px;
      gap: 15px;
      span {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #aaaaaa;
        font-family: "Poppins", sans-serif;
      }
      .line {
        width: 200px;
        height: 2px;
        background: #4ceb95;
      }
    }
    .main_heading {
      margin-top: 25px;
      h1 {
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #fff;
        margin-bottom: 10px;
      }
    }
    .resume__education{
      display: flex;
      gap: 15px;
      @include media(750px){
        flex-direction: column;
      }
    }
    .rsume_list {
      width: 50%;
      @include media(750px){
        width: 100%;
      }
      .heading{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        border-bottom: 2px solid #18d26e;
        padding-bottom: 8px;
      }
      &_item {
        display: flex;
        flex-direction: column;
        #period {
          font-size: 16px;
          background: rgba(255, 255, 255, 0.15);
          padding: 5px 15px;
          width: 150px;
          display: inline-block;
          font-weight: 600;
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          color: #fff;
          border-radius: 5px;
          span {
            color: #e4dada;
          }
        }
        h1 {
          color: #fff;
          font-size: 26px;
          font-weight: 700;
          margin-top: 20px;
          margin-bottom: 20px;
          color: #fff;
          font-family: "Raleway", sans-serif;
        }
        .resume_item {
          padding: 0 0 20px 20px;
          padding-bottom: 20px;
          margin-top: -2px;
          border-left: 2px solid rgba(255, 255, 255, 0.2);
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: #18d26e;
            border: 2px solid #18d26e;
          }
          
          h2 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            color: #18d26e;
            margin-bottom: 10px;
          }
          p {
            color: #fff;
            font-style: italic;
            font-family: "Poppins", sans-serif;
          }
          ul {
            margin-top: 15px;
            li {
              padding-bottom: 10px;
              color: #fff;
              list-style-type: disc;
              margin-left: 25px;
              font-family: "Poppins", sans-serif;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
